<ion-header class="ion-no-border">
  <ion-toolbar class="star-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="md">Star Platform</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="media-stack">
    <!-- 🖼️ 1순위: 이미지들 -->
    <div class="media-item" *ngFor="let media of getPhotoList()">
      <img [src]="media.MEDIA_URL" (error)="handleImgError($event)" />
    </div>

    <!-- 🎥 2순위: 동영상들 -->
    <div class="media-item-video" *ngFor="let media of getVideoList()">
      <div class="video-wrapper">
        <video 
            [muted]="media.isMuted" 
            autoplay loop playsinline 
            [poster]="media.THUMB_URL"
            class="feed-video">
            <source [src]="media.MEDIA_URL" type="video/mp4">
        </video>

        <div class="sound-btn" (click)="toggleSound(media, $event)">
            <ion-icon [name]="media.isMuted ? 'volume-mute' : 'volume-high'"></ion-icon>
        </div>
      </div>
    </div>

    <!-- 🎬 3순위: YouTube 임베드 -->
    <div class="media-item-youtube" *ngIf="safeYoutubeUrl">
      <div class="youtube-wrapper">
        <iframe 
          [src]="safeYoutubeUrl" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

  <div class="feed-body-section">
    <div class="author-row">
      <ion-avatar>
        <img [src]="starProfileImg" (error)="handleImgError($event)" />
      </ion-avatar>
      <div class="author-info">
        <span class="name">{{ starName }}</span>
        <span class="date">{{ contentInfo?.CREATED_DATE | date:'yyyy.MM.dd HH:mm' }}</span>
      </div>
    </div>

    <div class="content-text" [innerHTML]="safeContentHtml"></div>
  </div>
</ion-content>