ion-content {
  --background: #eeeeee;
  .wrap {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // min-height: 100%;
    .buyCard {
      background: #ffffff;
      color: #f9a631;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      padding: 20px;
      width: 100%;
      font-size: 0.8rem;
    }
    .page_img {
      background-image: url(../../../assets/img/chargeImage.png);
      width: 20vh;
      height: 20vh;
      background-size: cover;
      margin-top: 15px;
    }
  }
}
ion-footer {
  // padding-bottom: var(--ion-safe-area-bottom);
  ion-button {
    margin: 0;
    font-size: 0.8em;
    font-weight: bold;
  }
}
