ion-tab-bar {
  border: none;
  padding-bottom: 0;
  // &.no-safe-area {
  // }
  ion-tab-button {
    --color-selected: #009bfe;

    &.tab-selected {
      color: var(--color-selected);
    }

    app-user-avatar {
      width: 48px;
      height: 48px;
      padding: 0.4rem;
    }
  }
}
